/* Reset some default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Apply a modern background with a moving gradient */
body {
  background: linear-gradient(
    45deg,
    #f7f0f5,
    #decbb7,
    #8f857d,
    #5c5552,
    #433633
  );
  background-size: 400% 400%;
  animation: gradientAnimation 20s linear infinite;
  font-family: "Catamaran", sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

/* Define container styles */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
  align-items: center;
  justify-content: center;
}

/* Header styles */
.header {
  background-color: #333;
  color: #fff;
  text-align: center;
  font-family: "Catamaran", sans-serif;
  font-size: 4rem;
  padding: 1rem 0;
}

/* Logo styles */
.logo {
  max-width: 30%;
  max-height: 30vh;
  height: auto;
}

/* Main content styles */
.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.btn-group {
  display: flex;
  justify-content: center; /* Center horizontally */
}


/* Order items styles */
.order-items {
  text-align: center;
}

.order-items h2 {
  font-size: 2rem;
}

/* Search bar styles */
.search-bar {
  text-align: center;
}

#food-search {
  padding: 1rem;
  width: 60%;
  font-size: 1.2rem;
}

/* Food categories styles */
.food-categories {
  text-align: center;
}

.food-categories h2 {
  font-size: 2rem;
}

/* Footer styles */
.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
}

/* Gradient animation for the background */
@keyframes gradientAnimation {
  0% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 100%;
  }
}
