body {
    font-family: "Catamaran", sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.container {
    background-color: #fff;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.container1 {
    width: 90%;
    margin: 0 auto; /* Center horizontally */
}



form label {
    display: flex;
    margin-top: 10px;
}

form input, form button {
    width: 100%;
    margin-top: 5px;
    padding: 10px;
}


.customer-list ul {
    list-style: none; /* Remove list-style (dots) */
    display: flex; /* Display items horizontally */
    flex-wrap: wrap; /* Wrap items to the next line when needed */
    padding: 0; /* Remove default padding */
}

.customer-list li {
    margin-right: 20px; /* Add spacing between customer names */
}


button {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

h1, h2 {
    text-align: center;
}

.table-status {
    font-weight: bold;
}


.table {
    border: 1px solid #000;
    margin: 10px;
    display: inline-block;
    padding: 10px;
    /* Remove width and height properties */
}


/* Add specific styles for occupied tables as needed */
.occupied {
    background-color: red;
    /* Add other styles for occupied tables */
}

.tab{
    display: flex;
    justify-content: center; /* Center horizontally */
}

  